<h2>Bestellen</h2>
<div class="row">
  <div class="col-6">
      <mat-card class="adres">
        <mat-card-header>
          <mat-card-title>
            <h4>Adres gegevens</h4>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form name="createForm" #createForm="ngForm" (ngSubmit)="placeOrder()">
            <mat-form-field class="" style="margin-top: 20px">
              <input matInput #shippingName placeholder="Naam"  name="shippingName"  required [(ngModel)]="shipping.name" #shippingName="ngModel">
            </mat-form-field><br>
            <mat-form-field class="">
              <input matInput #shippingStreet placeholder="Straat en huisnummer"  name="shippingStreet" required [(ngModel)]="shipping.address" #shippingStreet="ngModel">
            </mat-form-field><br>
            <mat-form-field class="">
              <input #shippingPostcode matInput placeholder="Postcode"  (keyup)="searchCityName(shippingPostcode.value)"
                  [pattern]="regExPostcode" name="shippingPostcode" required size="6" maxlength="6" [(ngModel)]="shipping.postcode" #shippingPostcode="ngModel">
              <mat-hint align="end">Voorbeeld: 1234AB</mat-hint>
            </mat-form-field><br>
            <mat-form-field class="">
                <input [value]="placeName"
                      #shippingCity matInput placeholder="Woonplaats"  name="shippingCity"  [(ngModel)]="shipping.city" #shippingCity="ngModel">
            </mat-form-field><br><br>
            <button [disabled]="!createForm.valid" mat-raised-button type="submit" class="btn btn-primary btn-sm" *ngIf="cart.length > 0" >Bestelling plaatsen</button>
        
          </form>
        </mat-card-content>
      </mat-card>
  </div>
  <div class="col">
      <div class="card order">
          <div class="card-body">
            <h4 class="card-title">Overzicht van de bestelling</h4>
            <p class="card-text">U heeft {{ cart.length }} artikelen in uw winkelwagen.</p>
            <ul class="list-group list-group-flush">
              <li *ngFor="let item of cart" class="list-group-item">
                {{ item.quantity }} x {{ item.product.productName }}
                <div class="float-right">
                  €{{ item.product.productPrice * item.quantity}}
                </div>
              </li>
              <li class="list-group-item font-weight-bold">
                Totaal 
                <div class="float-right">
                  €{{ totalPrice }}
                </div>
              </li>
            </ul>
        </div> 
      </div> 
      </div>
</div>