.adres{
    min-width: 280px;
    margin-bottom: 20px;
}
.order{
    min-width: 250px;
}

@media (max-width: 465px){
    .adres{
        min-width: 300px;
        
        }
    .order{
        min-width: 300px;
          margin-bottom: 20px;
        }
      }