<mat-card *ngIf="isAdmin;">
  <mat-card-header>
      <mat-card-title>
          <h3>Aanmaken nieuw Product</h3>
      </mat-card-title>
  </mat-card-header>

  <mat-card-content>

      <form name="createForm" #createForm="ngForm" (ngSubmit)="createProduct()">

        <mat-form-field class="" style="margin-top: 20px">
          <input matInput #productName placeholder="Naam product"  name="productName"  required [(ngModel)]="product.productName" #productName="ngModel">
        </mat-form-field><br>
        <mat-form-field class="">
          <input matInput  #productPrice placeholder="Prijs"  name="productPrice" required [(ngModel)]="product.productPrice" #productPrice="ngModel">
          <mat-hint align="end">Bv: 10.50</mat-hint>
        </mat-form-field><br>
        <mat-form-field class="">
          <input #productImgUrl matInput placeholder="Link naar foto"  name="productImgUrl" required [(ngModel)]="product.productImgUrl" #productImgUrl="ngModel">
        </mat-form-field><br>
        <mat-form-field>
          <mat-select required [(ngModel)]="selectedCategorie" placeholder="Kies een categorie" name="categorie">
            <mat-option *ngFor="let cat of categories" [value]="cat.catId">
              {{ cat.catName }}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
              <br>
          <button [disabled]="!createForm.valid" mat-raised-button type="submit" class="btn btn-primary" >Toevoegen</button>

      </form>

  </mat-card-content>


</mat-card>