<div *ngIf="isUser" class="row">
  <div class="col-9">
      <mat-card>
         <mat-card-header>
              <mat-card-title>
                  <h4>Klant gegevens </h4>
              </mat-card-title>
          </mat-card-header>
        
          <mat-card-content>
        
              <form name="createForm" #createForm="ngForm" (ngSubmit)="changeUser()">
        
                <mat-form-field class="" style="margin-top: 20px">
                  <input [disabled]="!change" matInput #userName placeholder="Naam"  name="userName"  required [(ngModel)]="user.userName" #userName="ngModel">
                </mat-form-field><br>
                <mat-form-field class="">
                  <input [disabled]="!change" matInput #userEmail placeholder="Email"  name="userEmail" required [(ngModel)]="user.userEmail" #userEmail="ngModel">
                </mat-form-field><br>
                <mat-form-field class="">
                  <input  [disabled]="!change" #userPassword type="password" matInput placeholder="Password"  name="userPassword" required [(ngModel)]="user.userPassword" #userPassword="ngModel">
                </mat-form-field><br>
                      <br>
                  <button mat-raised-button type="submit" class="btn btn-primary btn-sm">Wijzigen</button>
        
              </form>
        
          </mat-card-content>
        
        
        </mat-card>
  </div>
</div>