.card { 
    margin-bottom: 30px;
  }
  
  .card-img-top { 
    height: 200px;
  }
  
  .card-footer {
    padding: 0;
    background: #fff;
  }
  
  .card-footer button {
    cursor: pointer;
    text-transform: uppercase;
  }
  .list-group{
    min-width: 120px;
  }
  @media (max-width: 465px){
    .list-group{
      min-width: 320px;
      margin-bottom: 20px;
    }
  }