<div class="row">
  <div class="col-3">
    <div class="list-group">
        <a class="list-group-item list-group-item-action"
        routerLink="/products"
        >
        Alles
      </a>
      <a *ngFor="let c of categories" 
        class="list-group-item list-group-item-action"
        routerLink="/products"
        [queryParams]="{ category: c.catId }"
        [class.active]="cat === c.catId">
        {{c.catName}}
      </a>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <ng-container *ngFor="let p of filteredProductes; let i = index"> 
          <div class="col">
              <div class="card" style="width: 20rem;">
                  <img class="card-img-top" [src]="p.productImgUrl" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">{{p.productName}}</h4>
                    <p class="card-text">€{{ p.productPrice }}</p>
                    <button class="btn btn-outline-secondary btn-sm" (click)="addToChart(p)">Toevoegen in mand</button>
                  </div>
                </div>
          </div>
          <div *ngIf="(i+1)%2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>





