.open{
    max-width: 450px;
    margin-left: 20%;
}
.adres{
    max-width: 450px;
    margin-left: 20%;
}
@media (max-width: 465px){
.adres{
    width: 90%;
    margin-bottom: 20px;
    margin-left: 0%;
    
    }
.open{
      width: 90%;
      margin-bottom: 20px;
      margin-left: 0%;
    }
  }