<div class="row">
    <div class="col">
      <div class="card adres">
          <div class="card-body">
            <h4 class="card-title">Adresgegevens</h4>
            <p class="card-text">Meeuwenlaan 109 1234 AB Amsterdam</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Telefoonnummer: 010-12345678
              </li>
              <li class="list-group-item font-weight-bold">
                Mobiel: 
                <div class="float-right">
                  0612345678
                </div>
              </li>
            </ul>
          </div>
        </div>  
      </div>
  </div>
  <br>
  <br>
  <div class="row">
      <div class="col">
          <div class="card open">
            <div class="card-body">
                <h4 class="card-title">Openingstijden</h4>
              <p class="card-text">We zijn 7 dagen per week geopend vanaf 13 tot 02:00 </p>
            </div>
          </div>  
      </div>
    </div>



