<mat-card *ngIf="isAdmin">
  <mat-card-header>
      <mat-card-title>
         <a><mat-icon class="edit" (click)="toggle()">close</mat-icon></a><br><br>
          <h5>Wijzigen product</h5>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form name="updateForm" #registerForm="ngForm" (ngSubmit)="modifyProduct()">
        <mat-form-field class="" style="margin-top: 20px">
          <input matInput #productName name="productName" [value]="selectedProduct.projectName"  required [(ngModel)]="selectedProduct.productName" #projectName="ngModel">
        </mat-form-field><br>
        <mat-form-field class="">
          <input matInput name="productPrice"  #productPrice [value]="selectedProduct.productPrice"required [(ngModel)]="selectedProduct.productPrice" #productPrice="ngModel">
        </mat-form-field><br>
        <mat-form-field class="">
          <textarea matInput name="productImgUrl"  #productImgUrl [value]="selectedProduct.productImgUrl"required [(ngModel)]="selectedProduct.productImgUrl" #productImgUrl="ngModel" style="height: 100px;"></textarea>
        </mat-form-field><br>
        <mat-form-field>
          <mat-select [(ngModel)]="selectedProduct.catId" placeholder="Kies een categorie" [formControl]="panelCatId">
            <mat-option  *ngFor="let c of categories" [value]="c.catId">
              {{ c.catName }}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
              <br>
          <button mat-raised-button type="submit" class="btn btn-outline-primary btn-sm" >Wijzigen</button>
      </form>
  </mat-card-content>
</mat-card>