<mat-card *ngIf="isAdmin;">
  <mat-card-header>
      <mat-card-title>
          <h1>Aanmaken nieuwe Gebruiker</h1>
      </mat-card-title>
  </mat-card-header>

  <mat-card-content>

      <form name="createForm" #createForm="ngForm" (ngSubmit)="createUser()">

        <mat-form-field class="" style="margin-top: 20px">
          <input matInput #userName placeholder="Naam gebruiker"  name="userName"  required [(ngModel)]="user.userName" #userName="ngModel">
        </mat-form-field><br>
        <mat-form-field class="">
          <input matInput #userEmail type="email"  placeholder="Email"  name="userEmail" required [(ngModel)]="user.userEmail" #userEmail="ngModel">
        </mat-form-field><br>
        <mat-form-field class="">
          <input #userPassword matInput type="password" placeholder="Wachtwoord"  name="userpassword" required [(ngModel)]="user.userPassword" #userPassword="ngModel">
        </mat-form-field><br>
        <mat-form-field>
          <mat-select [(ngModel)]="selectedRole" placeholder="Kies een role" name="roles">
            <mat-option *ngFor="let role of roles" [value]="role.roleId">
              {{ role.roleName }}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
              <br>
          <button mat-raised-button type="submit" class="btn btn-primary" >Toevoegen</button>

      </form>

  </mat-card-content>


</mat-card>