<mat-tab-group *ngIf="isAdmin">
    <mat-tab label="Producten beheren"><app-producten-beheren> </app-producten-beheren></mat-tab>
    <mat-tab label="Gebruikers beheren"><app-users-management> </app-users-management></mat-tab>
    <mat-tab label="Categorien beheren"><app-categories-management></app-categories-management></mat-tab>
  </mat-tab-group>