<mat-card *ngIf="isAdmin">
  <mat-card-header>
      <mat-card-title>
          <a><mat-icon class="edit" (click)="toggle()">close</mat-icon></a><br><br>
          <h5>Wijzigen Gebruiker</h5>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form name="updateForm" #registerForm="ngForm" (ngSubmit)="modifyUser()">
        <mat-form-field class="" style="margin-top: 20px">
          <input matInput #userName name="userName" [value]="selectedUser.userName"  required [(ngModel)]="selectedUser.userName" #userName="ngModel">
        </mat-form-field><br>
        <mat-form-field class="">
          <input matInput name="userEmail"  #userEmail [value]="selectedUser.userEmail"required [(ngModel)]="selectedUser.userEmail" #userEmail="ngModel">
        </mat-form-field><br>
        <mat-form-field>
          <mat-select  [(ngModel)]="selectedUser.roleId" placeholder="Kies een role" [formControl]="panelRoleId">
            <mat-option  *ngFor="let role of roles" [value]="role.roleId">
              {{ role.roleName }}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
              <br>
          <button mat-raised-button type="submit" class="btn btn-outline-primary btn-sm" >Wijzigen</button>
      </form>
  </mat-card-content>
</mat-card>