<div *ngIf="isAdmin;" class="row">
  <div class="col">
    <mat-sidenav-container class="example-container">
    <mat-sidenav-content class="hoofd">
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
          <a><mat-icon style="float: right;" (click)="reloadProducts()">refresh</mat-icon></a>
        <button mat-raised-button type="submit" class="btn btn-outline-primary btn-sm" (click)="openCreateDialog()">Nieuw product toevoegen</button>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Zoeken">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource">
    
        <ng-container matColumnDef="productName">
          <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.productName}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="productPrice">
          <mat-header-cell *matHeaderCellDef> Product Prijs </mat-header-cell>
          <mat-cell *matCellDef="let product"> € {{product.productPrice}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="productId">
          <mat-header-cell *matHeaderCellDef> Wijzigen</mat-header-cell>
          <mat-cell *matCellDef="let product"> <a><mat-icon class="edit" (click)="sidenav.toggle()">edit</mat-icon></a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="productDelete">
            <mat-header-cell *matHeaderCellDef> Verwijderen</mat-header-cell>
            <mat-cell *matCellDef="let product"> <a><mat-icon class="edit" (click)="openDialog()">delete</mat-icon></a></mat-cell>
          </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selected': selectedProduct  == row}"></mat-row>
      </mat-table>
    </div>

    </mat-sidenav-content>

    <mat-sidenav #sidenav mode="side" position="end" [(opened)]="editClicked">
      <div class="col-3 wijzig">
       <app-modify-product></app-modify-product>
     </div>
  </mat-sidenav>
  </mat-sidenav-container>
  </div>
</div>
