@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.sideNav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 30px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.selected{
color: white;
background: #009fdf ;
}

.wijzig{
padding: 8px 24px 0;
min-width: 300px;
margin-top:10%;
}
.hoofd{
  background-color: white;
}