<div *ngIf="isAdmin;" class="row">
  <div class="col">
    <mat-sidenav-container class="example-container">
    <mat-sidenav-content class="hoofd">
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
          <a><mat-icon style="float: right;" (click)="reloadProducts()">refresh</mat-icon></a>
        <button mat-raised-button type="submit" class="btn btn-outline-primary btn-sm" (click)="openCreateDialog()">Nieuw product toevoegen</button>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Zoeken">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource">
    
        <ng-container matColumnDef="productName">
          <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.productName}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="productPrice">
          <mat-header-cell *matHeaderCellDef> Product Prijs </mat-header-cell>
          <mat-cell *matCellDef="let product"> € {{product.productPrice}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="productId">
          <mat-header-cell *matHeaderCellDef> Wijzigen</mat-header-cell>
          <mat-cell *matCellDef="let product"> <a><mat-icon class="edit" (click)="sidenav.toggle()">edit</mat-icon></a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="productDelete">
            <mat-header-cell *matHeaderCellDef> Verwijderen</mat-header-cell>
            <mat-cell *matCellDef="let product"> <a><mat-icon class="edit" (click)="openDialog()">delete</mat-icon></a></mat-cell>
          </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selected': selectedProduct  == row}"></mat-row>
      </mat-table>
    </div>

    </mat-sidenav-content>

    <mat-sidenav #sidenav mode="side" position="end" [(opened)]="editClicked">
      <div class="col-3 wijzig">
       <mat-card>
         <mat-card-header>
             <mat-card-title>
                <a><mat-icon class="edit" (click)="editFalse()">close</mat-icon></a><br><br>
                 <h5>Wijzigen product</h5>
             </mat-card-title>
         </mat-card-header>
         <mat-card-content>
             <form name="updateForm" #registerForm="ngForm" (ngSubmit)="modifyProduct()">
               <mat-form-field class="" style="margin-top: 20px">
                 <input matInput #productName name="productName" [value]="selectedProduct.projectName"  required [(ngModel)]="selectedProduct.productName" #projectName="ngModel">
               </mat-form-field><br>
               <mat-form-field class="">
                 <input matInput name="productPrice"  #productPrice [value]="selectedProduct.productPrice"required [(ngModel)]="selectedProduct.productPrice" #productPrice="ngModel">
               </mat-form-field><br>
               <mat-form-field class="">
                 <textarea matInput name="productImgUrl"  #productImgUrl [value]="selectedProduct.productImgUrl"required [(ngModel)]="selectedProduct.productImgUrl" #productImgUrl="ngModel" style="height: 100px;"></textarea>
               </mat-form-field><br>
               <mat-form-field>
                 <mat-select [(ngModel)]="selectedCategorie" placeholder="Kies een categorie" [formControl]="panelCatId">
                   <mat-option  *ngFor="let c of categories" [value]="c.catId">
                     {{ c.catName }}
                   </mat-option>
                 </mat-select>
               </mat-form-field><br>
                     <br>
                 <button mat-raised-button type="submit" class="btn btn-outline-primary btn-sm" >Wijzigen</button>
             </form>
         </mat-card-content>
       </mat-card>
     </div>
  </mat-sidenav>
  </mat-sidenav-container>
  </div>
</div>
