<div *ngIf="isAdmin;" class="row">
    <div class="col">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
            <a><mat-icon style="float: right;" (click)="reloadCategories()">refresh</mat-icon></a>
            <button mat-raised-button type="submit" class="btn btn-outline-primary btn-sm" (click)="openCreateCategorie()">Nieuw Categorie toevoegen</button>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Zoeken">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource">
      
          <ng-container matColumnDef="categorieId">
            <mat-header-cell *matHeaderCellDef> Categorie ID</mat-header-cell>
            <mat-cell *matCellDef="let categorie"> {{categorie.catId}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="categorieName">
            <mat-header-cell *matHeaderCellDef> Categorie </mat-header-cell>
            <mat-cell *matCellDef="let categorie">{{categorie.catName}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="categorieDelete">
              <mat-header-cell *matHeaderCellDef> Verwijderen</mat-header-cell>
              <mat-cell *matCellDef="let categorie"> <a><mat-icon class="edit" (click)="openDialog()">delete</mat-icon></a></mat-cell>
            </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selected': selectedCategorie  == row}"></mat-row>
        </mat-table>
      </div>
    </div>
</div>