/* Structure */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 30px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

.selected{
  color: white;
  background: #009fdf ;
}
.edit {
  cursor: pointer;
}
.wijzig{
  padding: 8px 24px 0;
  min-width: 300px;
}
.addCategorie{
  padding: 8px 24px 0;
  margin: 30px;
}