
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Eten bestellen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEdu" aria-controls="navbarEdu"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarEdu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a  class="nav-link" routerLink="products" >Producten</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="contact" >Contact</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="winkelwagen" >Winkelwagen</a>
        </li>
        <li ngbDropdown class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" *ngIf="currentUser != null" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ currentUser.userName }}</a>
          <a ngbDropdownToggle class="nav-link dropdown-toggle" *ngIf="currentUser == null" routerLink="/user/login" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
          <div *ngIf="isUser" ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="dropdown-item" routerLink="user/orders">Mijn bestellingen</a>
            <a class="dropdown-item" routerLink="user/info">Mijn gegevens</a>
            <a  class="dropdown-item" (click)="logout()">Uitloggen</a>
          </div>
          <div *ngIf="!isUser" ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a  class="dropdown-item" (click)="logout()">Uitloggen</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" #portalForm="ngForm" data-toggle="collapse" data-target=".navbar-collapse.show">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="admin/login">Admin-Portal</button>
      </form>
      <a class="closeNav" data-toggle="collapse" data-target=".navbar-collapse.show"><mat-icon style="margin-left: 45%; cursor: pointer;" >expand_less</mat-icon></a>
    </div>
  </nav>