<div *ngIf="isAdmin" class="row">
  <div class="col">
    <mat-sidenav-container class="example-container">
    <mat-sidenav-content class="hoofd">
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
          <a><mat-icon style="float: right;" (click)="reloadUsers()">refresh</mat-icon></a>
          <button mat-raised-button type="submit" class="btn btn-outline-primary btn-sm" (click)="openCreateDialog()">Nieuw Gebruiker toevoegen</button>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Zoeken">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource">
    
        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef> Gebruiker naam</mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.userName}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="userEmail">
          <mat-header-cell *matHeaderCellDef> Gebruiker email </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.userEmail}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userRole">
          <mat-header-cell *matHeaderCellDef> Gebruiker Role </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.role}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="userModify">
          <mat-header-cell *matHeaderCellDef> Wijzigen</mat-header-cell>
          <mat-cell *matCellDef="let user"> <a><mat-icon class="edit" (click)="editTrue()">edit</mat-icon></a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="userDelete">
            <mat-header-cell *matHeaderCellDef> Verwijderen</mat-header-cell>
            <mat-cell *matCellDef="let user"> <a><mat-icon class="edit" (click)="openDialog()">delete</mat-icon></a></mat-cell>
          </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selected': selectedUser  == row}"></mat-row>
      </mat-table>
    </div>

  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="side" position="end" [(opened)]="editClicked">
  <div *ngIf="editClicked" class="col-3 wijzig">
    <mat-card>
      <mat-card-header>
          <mat-card-title>
              <a><mat-icon class="edit" (click)="editFalse()">close</mat-icon></a><br><br>
              <h5>Wijzigen Gebruiker</h5>
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <form name="updateForm" #registerForm="ngForm" (ngSubmit)="modifyUser()">
            <mat-form-field class="" style="margin-top: 20px">
              <input matInput #userName name="userName" [value]="selectedUser.userName"  required [(ngModel)]="selectedUser.userName" #userName="ngModel">
            </mat-form-field><br>
            <mat-form-field class="">
              <input matInput name="userEmail"  #userEmail [value]="selectedUser.userEmail"required [(ngModel)]="selectedUser.userEmail" #userEmail="ngModel">
            </mat-form-field><br>
            <mat-form-field>
              <mat-select  [(ngModel)]="selectedRole" placeholder="Kies een role" [formControl]="panelRoleId">
                <mat-option  *ngFor="let role of roles" [value]="role.roleId">
                  {{ role.roleName }}
                </mat-option>
              </mat-select>
            </mat-form-field><br>
                  <br>
              <button mat-raised-button type="submit" class="btn btn-outline-primary btn-sm" >Wijzigen</button>
          </form>
      </mat-card-content>
    </mat-card>
  </div>
</mat-sidenav>
</mat-sidenav-container>
</div>

</div>
