<div *ngIf="isAdmin" class="row">
  <div class="col">
    <mat-sidenav-container class="example-container">
    <mat-sidenav-content class="hoofd">
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
          <button mat-raised-button type="submit" class="btn btn-outline-primary btn-sm" (click)="openCreateDialog()">Nieuw Gebruiker toevoegen</button>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Zoeken">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource">
    
        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef> Gebruiker naam</mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.userName}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="userEmail">
          <mat-header-cell *matHeaderCellDef> Gebruiker email </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.userEmail}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userRole">
          <mat-header-cell *matHeaderCellDef> Gebruiker Role </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.roleName}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="userModify">
          <mat-header-cell *matHeaderCellDef> Wijzigen</mat-header-cell>
          <mat-cell *matCellDef="let user"> <a><mat-icon class="edit" (click)="sidenav.toggle()">edit</mat-icon></a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="userDelete">
            <mat-header-cell *matHeaderCellDef> Verwijderen</mat-header-cell>
            <mat-cell *matCellDef="let user"> <a><mat-icon class="edit" (click)="openDialog()">delete</mat-icon></a></mat-cell>
          </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selected': selectedUser  == row}"></mat-row>
      </mat-table>
    </div>

  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="side" position="end" [(opened)]="editClicked">
  <div class="col-3 wijzig">
    <app-modify-user></app-modify-user>
  </div>
</mat-sidenav>
</mat-sidenav-container>
</div>

</div>
