<div *ngIf="!notLoggedIn" class="container">

  <form class="form-signin" #portalForm="ngForm" (ngSubmit)="login(email.value, password.value)">
    <h2 class="form-signin-heading">Login</h2>
    <label for="inputEmail" class="sr-only" >Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" #email autofocus>
    <label for="inputPassword" class="sr-only">Wachtwoord</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" #password required>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="remember" #checkBox value="rememberMe" (click)="rememberMeChecked()"> Onthoud mij
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Inloggen</button>
    <mat-progress-bar *ngIf="wait" mode="indeterminate"></mat-progress-bar>
  </form>

</div> <!-- /container -->

