/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{padding-top: 80px;}
h1, h2, h3 { 
    margin-bottom: 1.5rem;
  }

  
  .list-group-item.active {
    background-color: $primary-color;
    border-color: $primary-color;
  }
  
  .btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
  }
  
  .btn-primary:hover {
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: $primary-color;
    border-color: $primary-color;
  }
  
  .form-control:focus {
    border-color: $primary-color;
  }
  .edit {
    cursor: pointer;
    }