.thumbnail { 
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
  }
  
  .card { 
    margin-bottom: 80px;
  }
  .pic{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
  }