
<h1>Winkelwagen</h1>
<div class="row col-10">
  <p>U heeft {{productsAddedToCart.length}} artikel in de winkelwagen.
      <button class="btn btn-light btn-sm" (click)="clearWinkelwagen()">Leeg winkelwagen</button>

  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center">Aantal</th>
        <th class="text-right">Prijs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsAddedToCart">
        <td><div [style.backgroundImage]="'url('+ product.product.productImgUrl + ')'" class="pic"></div></td>
        <td>{{product.product.productName}}</td>
        <td class="text-center"><input type="number" #currentQuanity [value]="product.quantity" (keyup)="updateQuanity(product.product.productId, currentQuanity.value)"></td>
        <td class="text-right">€{{product.product.productPrice * product.quantity }}</td>
        <td><mat-icon (click)="remove(product.product.productId)">delete</mat-icon></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">€{{totalPrice}}</td>
      </tr>
    </tfoot>
  </table>
  <a class="btn btn-primary" *ngIf="productsAddedToCart.length > 0" routerLink="/check-out">Volgende</a>
</div>