<mat-card *ngIf="isAdmin">
    <mat-card-header>
        <mat-card-title>
            <h3>Aanmaken Categorie</h3>
        </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
  
        <form name="createForm" #createForm="ngForm" (ngSubmit)="createCategorie()">
  
          <mat-form-field class="" style="margin-top: 20px">
            <input matInput #catName placeholder="Naam categorie"  name="catName"  required [(ngModel)]="categorie.catName" #catName="ngModel">
          </mat-form-field><br>
                <br>
            <button mat-raised-button type="submit" class="btn btn-primary btn-sm" >Toevoegen</button>
  
        </form>
  
    </mat-card-content>
  
  
  </mat-card>