
<div  class="row">
  <div class="col">
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource">
    
        <ng-container matColumnDef="orderId">
          <mat-header-cell *matHeaderCellDef> Bestelling nummer</mat-header-cell>
          <mat-cell *matCellDef="let order"> {{order.orderId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="OrderTotalprice">
          <mat-header-cell *matHeaderCellDef> Totaal prijs</mat-header-cell>
          <mat-cell *matCellDef="let order"> € {{order.orderTotalPrice}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="orderDate">
          <mat-header-cell *matHeaderCellDef> Bestelling datum </mat-header-cell>
          <mat-cell *matCellDef="let order"> {{order.orderDate}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="orderShippingAddress">
          <mat-header-cell *matHeaderCellDef> Bezorgadres</mat-header-cell>
          <mat-cell *matCellDef="let order">{{order.shipping.address}}  
            {{order.shipping.postcode}}  {{order.shipping.city}} </mat-cell>
        </ng-container>

    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selected': selectedOrder  == row}"></mat-row>
      </mat-table>
      
    </div>
  </div>
</div>